---
import logo from '../assets/logo.svg';
import whatsapplogo from '../assets/whatsapp-color-svgrepo-com.svg';
---

<header>
  <figure>
    <img src={logo.src} alt="Log de Impermex">
    <span>Impermeabilización <br> Residencial</span>
  </figure>
  <nav class="header__navbar">
    <ul>
      <li><span>Inicio</span></li>
      <li><span>Servicios</span></li>
      <li><span>Productos</span></li>
    </ul>
  </nav>
  <figure class="mobile-menu">
    <svg width="35" height="35" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 12V10H18V12H0ZM0 7V5H18V7H0ZM0 2V0H18V2H0Z" fill="#000000"/>
    </svg>
  </figure>
  <button class="whatsapp-button">Contáctenos<span class="whatsapp-logo-container"><img src={whatsapplogo.src} alt="Logo del wasap"></span></button>
</header>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    position: absolute;
    top: 25px;
    z-index: 7;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding:20px 30px;
    height: fit-content;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.35);
    transition: all 850ms;
  }
  figure {
    display: flex;
    gap: 20px;
    width: fit-content;
    align-items: center;
  }
  img {
    width: 77px;
  }
  span {
    display: inline-block;
    height: fit-content;
    text-align: justify;
    
  }
  .header__navbar {
    margin: auto 0;
  }
  .header__navbar ul {
    display: flex;
    gap: 50px;
  }
  .header__navbar ul li {
    cursor: pointer;
    font-size: 2rem;
    list-style: none;
  }
  
  .header__navbar ul li span {
    transition: transform 350ms;
  }
  .header__navbar ul li:hover span {
    transform: scale(1.15);
    color: lch(from chocolate calc(l + 10) c h)
  }
  .mobile-menu {
    display: none;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 20px;
    width: 225px;
    border: none;
    border-radius: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background-color: chocolate;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.20);
    cursor: pointer;
    transition: transform 350ms;
  }
  button:hover {
    background-color: lch(from chocolate calc(l + 10) c h);
    transform: scale(1.05);
  }
  .whatsapp-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

  }
  .whatsapp-logo-container img {
    width: 100%;
  }
  .scroll {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: none;
    border-radius: 0px;
  }
  @media (max-width: 1920px) {
    header {
      max-width: 1728px;
    }
  }
  @media (max-width: 1440px) {
    
  }
  @media (max-width: 1280px) {
    button {
      width: 175px;
    }
  }
  @media (max-width: 1024px) {
    button {
      display: none;
    }
    figure span {
      display: none;
    }
  }
  @media (max-width: 768px) {
    nav {
      display: none;
    }
    .mobile-menu {
      display: inline-block;
    }
  }
</style>

<script>
  navbarTransformAtScroll();
  whatsappButtonAction();
  
  function navbarTransformAtScroll(){
    const header = document.getElementsByTagName('header')[0];
    
    window.addEventListener('scroll', () => {
      if (window.scrollY >= 50) {
        header.classList.add('scroll');
      } else if (window.scrollY <= 50) {
        header.classList.remove('scroll');
      };
    });
  };

  function whatsappButtonAction() {
    const whatsappButton = document.querySelector('.whatsapp-button');
    whatsappButton?.addEventListener('click', () => {
      console.log('click')
      window.open('https://wa.me/5217207636713', '_blank');
    });
  }
</script>