---
const column = 'div';
const footerSign = 'div';
---
<footer>

  <column class="column social-media">
    <p><strong>Redes Sociales:</strong></p>
    <div class="figure">
      <span><svg width="" height="" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
        <title>Facebook-color</title>
        <desc>Created with Sketch.</desc>
        <defs>
    
    </defs>
        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Color-" transform="translate(-200.000000, -160.000000)" fill="#4460A0">
                <path d="M225.638355,208 L202.649232,208 C201.185673,208 200,206.813592 200,205.350603 L200,162.649211 C200,161.18585 201.185859,160 202.649232,160 L245.350955,160 C246.813955,160 248,161.18585 248,162.649211 L248,205.350603 C248,206.813778 246.813769,208 245.350955,208 L233.119305,208 L233.119305,189.411755 L239.358521,189.411755 L240.292755,182.167586 L233.119305,182.167586 L233.119305,177.542641 C233.119305,175.445287 233.701712,174.01601 236.70929,174.01601 L240.545311,174.014333 L240.545311,167.535091 C239.881886,167.446808 237.604784,167.24957 234.955552,167.24957 C229.424834,167.24957 225.638355,170.625526 225.638355,176.825209 L225.638355,182.167586 L219.383122,182.167586 L219.383122,189.411755 L225.638355,189.411755 L225.638355,208 L225.638355,208 Z" id="Facebook">
    
    </path>
            </g>
        </g>
    </svg></span>
      <p><a href="https://www.facebook.com/profile.php?id=61574799363801">Impermex Impermeabilización Residencial</a></p>
    </div>
    <div class="figure">
      <span><svg width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="256" cy="256" r="238" fill="white"/>
        <g clip-path="url(#clip0_19_7)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M255.926 0C114.797 0 0 114.83 0 255.998C0 311.983 18.0549 363.904 48.7467 406.048L16.849 501.16L115.247 469.713C155.718 496.501 204.015 512 256.074 512C397.203 512 512 397.166 512 256.002C512 114.834 397.203 0.00423177 256.074 0.00423177L255.926 0ZM184.457 130.035C179.493 118.147 175.731 117.697 168.211 117.391C165.65 117.242 162.797 117.094 159.633 117.094C149.85 117.094 139.621 119.952 133.451 126.272C125.931 133.948 107.273 151.855 107.273 188.578C107.273 225.302 134.054 260.819 137.663 265.788C141.426 270.749 189.875 347.203 265.102 378.363C323.929 402.743 341.386 400.483 354.774 397.625C374.332 393.411 398.859 378.957 405.029 361.505C411.198 344.043 411.198 329.143 409.389 325.983C407.585 322.823 402.616 321.022 395.096 317.255C387.576 313.491 351.012 295.431 344.091 293.023C337.318 290.466 330.851 291.37 325.738 298.595C318.515 308.679 311.446 318.915 305.726 325.083C301.212 329.899 293.836 330.502 287.671 327.941C279.395 324.484 256.227 316.35 227.637 290.916C205.519 271.204 190.474 246.675 186.113 239.301C181.748 231.779 185.663 227.408 189.119 223.348C192.881 218.68 196.491 215.371 200.253 211.005C204.015 206.642 206.122 204.383 208.529 199.265C211.09 194.299 209.281 189.181 207.476 185.418C205.671 181.655 190.627 144.931 184.457 130.035Z" fill="#67C15E"/>
        </g>
        <defs>
        <clipPath id="clip0_19_7">
        <rect width="512" height="512" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        </span>
      <p><a href="https://wa.me/5217207636713">(720)763-67-13</a></p>
    </div>
  </column>
  
  <column class="column address">
    <p><strong>Dirección:</strong></p>
    <div class="figure">
      <p><a href="https://maps.app.goo.gl/BE22ANSKGgE73uzDA">3ra. Cerrada de Mar de Herodoto #11 Fracc. Los Olivos, Corregidora, Santiago de Querétaro</a></p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d933.9780728608831!2d-100.40812873043976!3d20.55076925457056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjDCsDMzJzAyLjgiTiAxMDDCsDI0JzI3LjAiVw!5e0!3m2!1ses!2smx!4v1743516652587!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </column>
  
  <footerSign class="footer-sign">
      <p>Made with 🤍 from 🇲🇽 by <strong><a href="https://ruiz7am.github.io/ruizam/">@ruiz7am</a></strong></p>
  </footerSign>
</footer>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #193854;
    color: aliceblue;
    background-image: linear-gradient(to left top, #193854, #2a4e70, #3b668d, #4c7eac, #5e98cb);
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    min-width: 350px;
    padding: 50px;
  }
  .column.social-media {
    align-items: flex-start;
    height: 100%;
  }
  .column.address {
    align-items: flex-end;
  }
  .column.address p {
    text-align: right;
  }
  .column.address div.figure {
    margin-block-end: 20px;
  }
  .column .figure {
    cursor: pointer;
    display: flex;
    gap: 15px;
  }
  .column span {
    
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .column span svg {
    width: 100%;
    height: 100%;
  }
  .column.social-media .figure {
    margin-block: 7px;
  }
  .footer-sign {
    width: 100%;
    padding: 50px 50px 10px;
  }
  .footer-sign p {
    text-align: center;
  }
  iframe {
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }
  @media (max-width: 768px) {

  }
</style>