---
import HeaderNavbar from '../components/HeaderNavbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import MyFooter from '../components/MyFooter.astro';
import Dev from '../components/ImUrFrontendDev.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Impermex</title>
	</head>
	<body>
		<HeaderNavbar />
		<Hero />
		<Services />
		<Products 
			sectionTitle='Nuestros Productos'
			subtitleOne='Impermeabilización Superior con Productos Sika'
			subtitleTwo='Impermeabilización Profesional con Productos Fester'
			imageSrcOne="images/sika.webp"
			imageSrcTwo="images/fester.jpg"
			/>
		<MyFooter />
		<Dev />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
	}
	html {
		box-sizing: border-box;
		font-size: 62.5%;
	}
	body {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-family: "Nunito Sans", sans-serif;
		font-size: 1.6rem;
	}
</style>

<script>

	whatsappButtonAction();
	wakeUpMyDev();

	function whatsappButtonAction() {
    const whatsappButtons = document.getElementsByClassName('whatsapp-button');
		Array.from(whatsappButtons).forEach((button) => {
			button.addEventListener('click', () => {
      	console.log('click')
      	window.open('https://wa.me/5217207636713', '_blank');
    	});
		});
	};

	function wakeUpMyDev(){
		// Get the modal element
		const devCard = document.querySelector('dev-card');
		const modal = devCard?.shadowRoot?.getElementById('dev-modal');
		if (!modal) return; // Early return if modal doesn't exist
    
    // Get the element that opens the modal
    const footerSign = document.querySelector('.footer-sign p strong');
    
    // Get the <span> element that closes the modal
    const closeButton = devCard?.shadowRoot?.querySelector('.close-modal');
    
    // When the user clicks on the footer name, open the modal
    if (footerSign) {
      footerSign.addEventListener('click', () => {
        if (modal) {
          modal.style.display = 'block';
        }
      });
    }
    
    // When the user clicks on the close button, close the modal
    if (closeButton) {
      closeButton.addEventListener('click', () => {
        if (modal) {
          modal.style.display = 'none';
        }
      });
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.addEventListener('click', (event) => {
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    });
  }

</script>